/dts-v1/; 
#include <st/h7/stm32h733.dtsi>
#include <st/h7/stm32h733vgtx-pinctrl.dtsi>

/ {

	soc {

		pinctrl {
		swj-cfg = "jtag-disable";
			};
	};


    model = "CANHW Processor Board";
    compatible = "waterloorocketry,processor";

    chosen {
        zephyr,console = &uart4;
        zephyr,sram = &sram0;
		zephyr,flash = &flash0;
    };

    leds {
        compatible = "gpio-leds";
        red_led: led_1 {
            gpios = <&gpiob 5 GPIO_ACTIVE_LOW>;
            label = "Red LED";
        };

        green_led: led_2 {
			gpios = <&gpioe 0 GPIO_ACTIVE_LOW>;
			label = "User LD1";
		};

    };

    aliases {
		led0 = &red_led;
		led1 = &green_led;
	};

	zephyr,user {
		/* adjust channel number according to pinmux in board.dts */
		io-channels = <&adc1 0>;
	};
};


 &clk_hsi {
	//clock-frequency = <DT_FREQ_M(64)>;
	status = "okay";
	hsi-div = <4>;
};


&pll {
	div-m = <4>;
	mul-n = <125>;
	div-p = <1>;
	div-q = <1>;
	div-r = <1>;
	clocks = <&clk_hsi>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(500)>;
	d1cpre = <1>;
	hpre = <2>;
	d1ppre = <2>;
	d2ppre1 = <2>;
	d2ppre2 = <2>;
	d3ppre = <2>;
};



&uart4 {
    pinctrl-0 = <&uart4_tx_pb9 &uart4_rx_pb8>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

//copied from https://github.com/zephyrproject-rtos/zephyr/blob/main/samples/drivers/adc/boards/stm32h735g_disco.overlay
&adc1 {
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-0 = <&gpio_a10_analog>;
    pinctrl-names = "default";
	st,adc-prescaler = <4>;
    st,adc-clock-source = <SYNC>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <16>;
	};
	status = "ok";
};

//copied from https://github.com/zephyrproject-rtos/zephyr/issues/65387
&pinctrl {
    gpio_a10_analog: gpio_a10_analog {
        pinmux = <STM32_PINMUX('A',10,ANALOG)>;
    };
    status = "okay";
};




